<div>
    <form method="post" action="https://gateway.payulatam.com/ppp-web-gateway/pb.zul" accept-charset="UTF-8">
          <input type="image" border="0" alt="" src="http://www.payulatam.com/img-secure-2015/boton_pagar_pequeno.png" onClick="this.form.urlOrigen.value = window.location.href;"/>
          <input name="buttonId" type="hidden" value="QDrErf3RSGKMbfQoU7gosXCEfhckWZXSt2B3LWKNE/qHYmNuBu7L4g=="/>
          <input name="merchantId" type="hidden" value="657443"/>
          <input name="accountId" type="hidden" value="659978"/>
          <input name="description" type="hidden" value="Guanábana x 10 Kilos"/>
          <input name="referenceCode" type="hidden" value="ref0001"/>
          <input name="amount" type="hidden" value="11600.00"/>
          <input name="tax" type="hidden" value="1600.00"/>
          <input name="taxReturnBase" type="hidden" value="10000.00"/>
          <input name="currency" type="hidden" value="COP"/>
          <input name="lng" type="hidden" value="es"/>
          <input name="paymentMethods" type="hidden" value="MASTERCARD-6,VISA-6,AMEX-6,PSE,VISA_DEBIT,EFECTY,BANK_REFERENCED"/>
          <input name="displayBuyerComments" type="hidden" value="true"/>
          <input name="buyerCommentsLabel" type="hidden" value="es:Por Favor Indicar Método de Pago"/>
          <input name="sourceUrl" id="urlOrigen" value="" type="hidden"/>
          <input name="buttonType" value="SIMPLE" type="hidden"/>
          <input name="signature" value="5f3c0256724a04554df795fc640f9e24973fb28469522be045cc9df38fc529b1" type="hidden"/>
        </form>
</div>